asgiref==3.2.3
asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
blinker==1.4
certifi==2024.7.4
chardet==3.0.4
click==6.7
colorama==0.3.7
configobj==5.0.8
constantly==15.1.0
cryptography==42.0.4
Django==3.2.25
django-froala-editor==3.0.6
django-js-asset==1.2.2
gunicorn==22.0.0
httplib2==0.19.0
hyperlink==17.3.1
idna==3.7
incremental==16.10.1
Jinja2==3.1.4
jsmin==2.2.2
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.0
netifaces==0.10.4
oauthlib==2.0.6
Pillow==10.3.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycrypto==2.6.1
PyJWT==1.5.3
pytz==2019.3
pyxdg==0.26
PyYAML==3.12
requests==2.32.2
requests-unixsocket==0.1.5
SecretStorage==2.3.1
service-identity==16.0.0
six==1.11.0
sqlparse==0.5.0


